body {
  margin: 0;
  overflow-x: hidden;
  font-family: Poppins;
}

header {
  height: fit-content;
  width: 100%;
  /* background-image: url(/drive-download-20240310T064708Z-001/Banner_Prambanan_Jazz.webp); */
  /* opacity: 50%; */
  /* filter: sepia(0.7); */
}
.navigation {
  width: 80%;
  height: 100px;
  margin: auto;
  padding-top: 10px;
  /* text-align: end; */
  background-color: #242565;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}
#judul {
  width: 50px;
  text-align: left;
  padding: 20px 50px;
  display: inline;
}

#judul img {
  width: 50px;
  display: inline;
}

#judul h1 {
  width: 50px;
  display: inline;
  color: white;
}

.navigation #kanan ul {
  list-style: none;
  padding-top: 30px;
  margin: 0 720px;
  width: max-content;
}

.navigation #kanan ul a {
  text-decoration: none;
  color: white;
  padding-top: 0px;
  font-size: 20px;
  display: inline;
  margin-right: 15px;
}

.navigation #kanan ul a:hover {
  color: rgb(131, 131, 131);
}
/* /* Header */

/* main */
.breadcrumb {
  display: block;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 10px;
  h3 {
    display: inline;
    padding: 0 10px 0;
  }
}

.breadcrumb a {
  text-decoration: none;
  color: #222;
}

.breadcrumb a:hover {
  text-decoration: underline #242565;
  color: #242565;
}
.gambar {
  display: inline;
  a {
    text-decoration: none;
  }
}
.gambar button {
  display: inline;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: white;
  color: #242565;
  margin-bottom: 10px;
  /* margin-top: 20px; */
  margin-left: 10%;
}

.gambar button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.gambar button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}


.gambar button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #242565;
  /* transform:translateY(-2px); */
}

.gambar img {
  margin: 0px 10%;
  width: 80%;
  height: 400px;
  border-radius: 10px;
  display: inline;
  object-fit: cover;
}

.contain {
  display: flex;
  width: 100%;
}
.contain .kiri {
  height: fit-content;
  width: 45%;
  /* background-color: aqua;   */
  padding: 10px;
  margin-left: 10%;
}

.contain .kiri h2 {
  font-size: 20px;
  font-weight: 100;
}

.contain span {
  font-style: italic;
  color: gray;
}

.contain .kanan {
  /* width: 320px; */
  padding: 10px 30px;
  height: fit-content;
  /* background-color: aqua; */
  margin: 10px 0px;
  margin-left: 190px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  /* margin-left: 30%; */
  display: flex;
  flex-direction: column;
}

.kanan button {
  padding: 1em 8em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #242565;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.kanan button:hover {
  background-color: #394989;
  box-shadow: 0px 5px 15px #394989;
  color: #fff;
  transform: translateY(-7px);
}

.kanan button:active {
  transform: translateY(-1px);
}

.kanan h1 {
  color: #242565;
}

.kanan h2 {
  font-style: italic;
  font-weight: lighter;
  color: #838383;
}

.sosmed {
  width: 100%;
  height: 100px;
  display: inline;
  margin-left: 1150px;
}

.sosmed h1 {
  font-size: 18px;
  display: inline;
}

.sosmed img {
  border: 1.2px solid;
  border-radius: 5px;
  border-color: #242565;
  display: inline;
  width: 30px;
  margin-left: 20px;
}

.event-inf {
  width: 100%;
  height: 200px;
}

.event-inf h1 {
  margin-left: 10%;
  font-size: 20px;
}
.event-inf .information {
  display: flex;
  height: 150px;
  width: 1300px;
  background-color: white;
  margin: 10px 10%;
  text-align: center;
}

.event-inf .information img {
  width: 50px;
}

.event-inf .information p {
  font-style: italic;
}
.event-inf .information .duration {
  /* margin: 10px auto; */
  text-align: justify;
}
.event-inf .information .audience {
  margin: 10px auto;
  text-align: justify;
}
.event-inf .information .attention {
  margin: 10px;
  text-align: justify;
}

.tambahan {
  font-weight: bold;
}

.desc {
  display: block;
  height: 150px;
  margin: 30px 10%;
  text-align: start;
}

.desc h1 {
  font-size: 20px;
}

.layout {
  display: block;
  height: 150px;
  margin: 10px 10%;
  text-align: justify;
  clear: both;
}

.layout h1 {
  font-size: 20px;
}

.layout img {
  width: 1000px;
  height: fit-content;
  display: block;
  float: left;
}

.term {
  display: block;
  /* background-color: lightblue; */
  margin: 950px 10% 100px;
  text-align: start;
}

.term h1 {
  font-size: 20px;
}
.term h1,
p {
  display: block;
}

#boldernih {
  font-weight: bold;
}

/* upcoming event and load more */
.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* tambahan */
/*  button tambahan*/

.sort {
  width: fit-content;
  margin: 50px 80% 0;
}
.sort .button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.sort .button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.sort .button .button__text {
  transform: translateX(33px);
  color: var(--font-color);
  font-weight: 600;
}

.sort .button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort .button .svg {
  width: 20px;
  fill: var(--main-color);
}

.sort .button:hover {
  background: var(--bg-color);
}

.sort .button:hover .button__text {
  color: transparent;
}

.sort .button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.sort .button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
/* button tambahan */
/* box */

.line1 {
  display: flex;
  text-align: center;
  margin: 10px auto 340px;
  width: 80%;
  height: 50px;
}

.box {
  padding: 10px 20px 20px;
  width: 300px;
  height: 300px;
  border: 1px solid;
  margin: 20px 30px;
}

.box h1 {
  font-size: 24px;
}

.box h3 {
  display: inline;
}

/* tombol */
.line1 button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 0;
  background-color: #242565;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  /* box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px; */
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  display: inline;
}

.line1 .box:nth-child(2) button{
  background-color: grey;
}

.line1 button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.line1 .box:nth-child(2) button:hover{
  box-shadow: none;
}

.line1 button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
.line1 .box:nth-child(2) button:active {
  background-color:none;
  /*50, 168, 80*/
  box-shadow: none;
  transform: translateY(0px);
  transition: 0ms;
}

#line3 {
  margin: 10px 240px 400px;
}

/* tombol */

.harga {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
.harga h1 {
  font-size: 24px;
  color: #3b2e5a;
  text-align: end;
  padding-right: 230px;
  text-decoration: underline;
}

/* btn harga */
.harga .btn {
  border: none;
  width: 75%;
  height: 5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #3b2e5a;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  margin: 10px auto;
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
}

/* .text {
  font-weight: 600;
  color: #aaaaaa;
  font-size: medium;
} */

.harga .btn:hover {
  background:  #683fea;
  /* box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff; */
  transform: translateY(-2px);
}

.harga .btn:hover .text {
  color: white;
}

.harga .btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}
/* btn harga */
/* tambahan */
.tulisan h1 {
  text-align: left;
  margin-left: 250px;
  display: inline;
  color: #242565;
}

/* .tulisan a {
  margin-left: 28%;
  display: inline;
} */

.readmore-btn {
  width: fit-contentd;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #242565;
  border: none;
  border-radius: 10px;
  padding: 0px 15px;
  gap: 0px;
  transition: all 0.4s;
  margin-left: 73%;
}
.book-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 45px;
  height: 100%;
}
.book-wrapper .book-page {
  width: 50%;
  height: auto;
  position: absolute;
}
.readmore-btn:hover .book-page {
  animation: paging 0.4s linear infinite;
  transform-origin: left;
}
.readmore-btn:hover {
  background-color: rgb(159, 74, 255);
}
@keyframes paging {
  0% {
    transform: rotateY(0deg) skewY(0deg);
  }
  50% {
    transform: rotateY(90deg) skewY(-20deg);
  }
  100% {
    transform: rotateY(180deg) skewY(0deg);
  }
}
.text {
  width: 105px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.box2 {
  width: 370px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
}

.box2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.box2 h3 {
  padding-top: 20px;
  font-size: 30px;
  text-align: left;
}

.box2 h4 {
  margin-top: 0px;
  font-size: 14px;
  text-align: left;
}
.box2 h5 {
  font-size: 10px;
  text-align: left;
}
.box2 p {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
}

.box2 a {
  display: inline-block;
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 7px;
  background-color: #3b2e5a;
  color: whitesmoke;
}

.box2 a:hover {
  background-color: #ccc;
}
/* main */

/* footer */
.containft {
  width: 100%;
  height: 450px;
  background-color: #242565;
  padding: 20px 50px;
  margin-top: 100px;
  text-align: center;
}

.abtus {
  margin-top: 20px;
}

.abtus img {
  width: 30px;
  height: 30px;
}

.abtus h1 {
  display: inline;
  color: white;
}

.abtus p {
  width: 30%;
  margin: 10px auto;
  color: white;
  font-size: 25 px;
}

/* button sosmed */
.parent {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
}

.child:hover {
  background-color: #242565;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}


footer button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  background-color: white;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
    translateY(2px);
  border-radius: 50%;
}
/* button sosmed */

hr {
  width: 80%;
  /* color: red; */
}

footer a,
#copyright {
  margin: 0;
  color: white;
}

#plgbwh {
  /* position: absolute; */
  margin-top: 9%;
  text-align: center;
  padding: 10px;
  /* background-color: #ccc; */
  bottom: 1;
}

/* footer */