body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: fit-content;
  width: 100%;
  /* background-image: url(/drive-download-20240310T064708Z-001/Banner_Prambanan_Jazz.webp); */
  /* opacity: 50%; */
  /* filter: sepia(0.7); */
}
.navigation {
  width: 80%;
  height: 100px;
  margin: auto;
  padding-top: 10px;
  /* text-align: end; */
  background-color: #242565;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}
#judul {
  width: 50px;
  text-align: left;
  padding-left: 20px;
}

#judul img {
  width: 50px;
  display: inline;
}

#judul h1 {
  width: 50px;
  display: inline;
  color: white;
}

.navigation #kanan ul {
  list-style: none;
  padding-top: 30px;
  margin: 0 800px;
  width: max-content;
}

.navigation #kanan ul a {
  text-decoration: none;
  color: white;
  padding-top: 0px;
  font-size: 30px;
  display: inline;
  margin-right: 15px;
}

.navigation #kanan ul a:hover {
  color: rgb(255, 0, 0);
}

/* /* Header */

.gambar {
  display: inline;
}

.gambar button {
  display: inline;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: white;
  color: #242565;
  margin: 50px 0px 0px 4%;
}

.gambar button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.gambar button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.gambar button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #242565;
  /* transform:translateY(-2px); */
}

.gambar img {
  margin: 0px 25%;
  width: 900px;
  height: 500px;
}

.gambar h1 {
  display: inline;
}

/* PAKETANN */

.deskripsi {
  width: 80%;
  background-color: aqua;
  display: flex;
  margin: 20px auto;
}

.deskripsi img {
  width: 600px;
}

.info {
  padding: 0 20px;
}

.sort {
  width: fit-content;
  background-color: aqua;
  margin: 50px 80% 0;
}
.sort .button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.sort .button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.sort .button .button__text {
  transform: translateX(33px);
  color: var(--font-color);
  font-weight: 600;
}

.sort .button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort .button .svg {
  width: 20px;
  fill: var(--main-color);
}

.sort .button:hover {
  background: var(--bg-color);
}

.sort .button:hover .button__text {
  color: transparent;
}

.sort .button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.sort .button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.box1 {
  display: flex;
}
