body {
  margin: 0;
  overflow-x: hidden;
  font-family: Poppins;
}

header {
  height: fit-content;
  width: 100%;
  /* background-image: url(/drive-download-20240310T064708Z-001/Banner_Prambanan_Jazz.webp); */
  /* opacity: 50%; */
  /* filter: sepia(0.7); */
}
.navigation {
  width: 80%;
  height: 100px;
  margin: auto;
  padding-top: 10px;
  /* text-align: end; */
  background-color: #242565;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}
#judul {
  width: 50px;
  text-align: left;
  padding: 20px 50px;
  display: inline;
}

#judul img {
  width: 50px;
  display: inline;
}

#judul h1 {
  width: 50px;
  display: inline;
  color: white;
}

.navigation #kanan ul {
  list-style: none;
  padding-top: 30px;
  margin: 0 720px;
  width: max-content;
}

.navigation #kanan ul a {
  text-decoration: none;
  color: white;
  padding-top: 0px;
  font-size: 20px;
  display: inline;
  margin-right: 15px;
}

.navigation #kanan ul a:hover {
  color: rgb(131, 131, 131);
}
/* /* Header */

/* main */
.breadcrumb {
  display: block;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 10px;
  h3 {
    display: inline;
    padding: 0 10px 0;
  }
}

.breadcrumb a {
  text-decoration: none;
  color: #222;
}

.breadcrumb a:hover {
  text-decoration: underline #242565;
  color: #242565;
}
.gambar {
  display: inline;
  a {
    text-decoration: none;
  }
}

.gambar button {
  display: inline;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: white;
  color: #242565;
  margin-left: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin: 15px 0px 0px 18%; */
}

.gambar button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.gambar button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.gambar button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #242565;
  /* transform:translateY(-2px); */
}

.gambar h1 {
  font-size: 32px;
  display: inline;
  margin-left: 10px;
}
.datadiri {
  width: 710px;
  height: max-content;
  /* background-color: aqua; */
  margin-left: 10%;
}

.tiket h1 {
  font-size: 24px;
}

.linetiket {
  display: flex;
}

.note {
  width: 615px;
  padding: 5px 50px;
  height: fit-content;
  border-radius: 5px;
  background-color: #f0effe;
  margin-left: 10%;
  h2 {
    font-weight: normal;
    font-size: 15px;
    color: #242565;
  }
}

.formField {
  margin-top: 35px;
  position: relative;
}
.formField:nth-child(2) {
  margin-left: 20px;
}

.formField input {
  padding: 10px 154px 10px 15px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 5px transparent;
}

.formField input:hover,
.formField input:focus {
  box-shadow: 0 0 0 1px #333;
}

.formField span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 15px;
  color: #333;
  font-size: 14px;
  font-weight: normal;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.formField input:focus + span,
.formField input:valid + span {
  transform: translateY(-32px) translateX(-5px) scale(0.95);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.eventdetail {
  width: 550px;
  height: max-content;
  background-color: white;
  float: right;
  margin-right: 10%;
  h1 {
    font-size: 25px;
    font-weight: bolder;
  }
  .line1detail {
    display: block;
    img {
      width: 200px;
      height: 100px;
      float: left;
      border-radius: 3px;
      margin-right: 10px;
    }

    h3 {
      font-size: 13px;
      font-weight: normal;
      margin: 5px;
    }
    h3 img {
      width: 20px;
      height: 20px;
    }
    #judulanu {
      font-size: 16px;
      font-weight: bold;
    }
  }
  hr {
    margin-top: 45px;
  }
}

.eventdetail .ordersum {
  h3 {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    /* margin-right: 20%; */
  }

  h3 span {
    display: block;
  }
  strong {
    font-weight: bold;
    float: right;
  }
}

.paymenbutton button {
  padding: 15px 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  color: white;
  background-color: #7f7df3;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
  float: right;
  margin-top: 50px;
}

.paymenbutton button:hover {
  letter-spacing: 3px;
  background-color: #394989;
  color: white;
  box-shadow: #3b2e5a 0px 7px 25px 0px;
}

.paymenbutton button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.pesan {
  width: fit-content;
  height: 30px;
  background-color: #683fea;
  color: #fff;
  margin: 200px auto;
  padding: 10px 20px;
  border-radius: 20px;
  opacity: 0.5;
}

.pesan h1 {
  margin: 0px;
}

.payment {
  width: 710px;
  height: max-content;
  margin-left: 10%;
  margin-top: 50px;
  /* background-color:aqua; */
}

.payment h1 {
  font-size: 32px;
}

.vrac img {
  width: 70px;
  height: 30px;
  float: right;
  object-fit: contain;
}

.vrac {
  display: flex;
  flex-direction: column;
}

.vrac h2 {
  font-size: 24px;
}

.radio-label {
  /* display: flex; */
  width: 690px;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  color: black;
}

.radio-label:hover {
  background-color: white;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .radio-label {
  background-color: white;
  border-color: #242565;
}

.radio-input:focus + .radio-label {
  outline: 2px solid;
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: #7f7df3;
}

.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: #242565;
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #242565;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
.containft {
  width: 100%;
  height: 450px;
  background-color: #242565;
  padding: 20px 50px;
  margin-top: 100px;
  text-align: center;
}

.abtus {
  margin-top: 20px;
}

.abtus img {
  width: 30px;
  height: 30px;
}

.abtus h1 {
  display: inline;
  color: white;
}

.abtus p {
  width: 30%;
  margin: 10px auto;
  color: white;
  font-size: 25 px;
}

/* button sosmed */
.parent {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
}

.child:hover {
  background-color: #242565;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

footer button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  background-color: white;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
    translateY(2px);
  border-radius: 50%;
}
/* button sosmed */

hr {
  width: 80%;
  /* color: red; */
}

footer a,
#copyright {
  margin: 0;
  color: white;
}

#plgbwh {
  /* position: absolute; */
  margin-top: 9%;
  text-align: center;
  padding: 10px;
  /* background-color: #ccc; */
  bottom: 1;
}

/* footer */
